


body{
	background-color:lightgray;
}



.container{
	display:inline-block;
	padding:50;
	text-align:left;
	margin-top:50px;
	padding:50px;
	background-color:white;
	border-radius:10px;
	height:750px;
	width:300px;
}
	




#calculater{
	font-family: 'Noto Sans KR', sans-serif;

}


.raleway{
	font-family: 'Noto Sans KR', sans-serif;
}
#caption{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:50px;
}
#title{
	position:absolute;
	top:50;
	display:inline-block;
	font-size:125px;
	height:100;
	width:100;
	float:;

}
#subtext{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:10px;	
}